/* Utility classes */
.full-width-section {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    left: 0;
    right: 0;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for Hero Overlay Section */
.hero-overlay-section {
    height: 90vh;
    background-color: blue;
}


.hero-overlay-image {
    height: 20%;
    width: 70%;
    position: absolute;
    bottom: 15vh;
    right: 10vw;
    z-index: 1;
    opacity: 0.7;
    background-color: red;
    border-radius: 10px;
}

/* Calendar Section */
.calendar-section {
    height: 100vh;
    background-color: antiquewhite;
}

.calendar-week-header-row,
.calendar-days-row {
    display: flex;
    justify-content: space-between;
}

.calendar-week-header,
.calendar-day {
    flex: 1 1 0;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ddd;
    background: #f8f9fa;
}

.calendar-week-header {
    font-weight: bold;
    background: #e9ecef;
    border-bottom: none;
}

.calendar-days-row .calendar-day {
    border-top: none;
    height: 25vh;
}

.calendar-day-highlighted {
    background: #bb45a7;
    color: #fff;
    font-size: 10px;
}

.calendar-day-center {
    @extend .flex-center;
    height: 100px;
    text-align: center;
}

.cal-font {
    @extend .flex-center;
    flex-direction: column;
    height: 100%;
    font-size: 12px;
    text-align: center;
}

.cal-icon {
    margin-bottom: 0.2em;
    @extend .flex-center;
}

.cal-font i {
    font-size: 2em;
    color: #bb45a7;
}
.calendar-day-highlighted .cal-font i {
    color: #fff;
}

/* Hotel Section */
.hotel-in-section,
.for-poster-section {
    background-color: lightgrey;
}

.hotel-in {
    height: 80vh;
}
.hotel-in > .row-1,
.hotel-in > .row-2,
.hotel-in > .row-3,
.hotel-in > .col-6,
.hotel-in > .col-2 {
    border: solid 1px black;
}
.hotel-in > .row-1 { height: 30vh; }
.hotel-in > .row-2 { height: 15vh; }
.hotel-in > .row-3 { height: 35vh; }

/* Phuket Section */
.phuket-divider-section {
    height: 20vh;
    background-color: rgb(109, 204, 207);
}
.phuket-div-image {
    height: 20vh;
    font-size: 64px;
    letter-spacing: 20px;
    text-align: center;
    align-content: center;
}

/* Before Section */
.before-section {
    background: rgb(236, 219, 59);
    height: 68vh;
}
.before-section-container {
    width: 100%;
    max-width: 100vw;
    padding: 0;
    height: 60vh;
}
.before-box {
    border: 1px solid #ccc;
    @extend .flex-center;
}
.before-pic { background: #fffbe6; height: 25vh; }
.before-bangtao { background: #ffe066; height: 10vh; }
.before-right-small { background: #e0f7fa; height: 15vh; }
.before-right-tall { background: #b2ebf2; height: 30vh; }

.before-row-equal {
    display: flex;
    align-items: stretch;
}
.cont-left, .cont-right {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cont-left > .row,
.cont-right > .row {
    flex: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* For Section */
.for-poster {
    height: 92vh;
    background-color: rgb(199, 34, 34);
}

/* Day breakdown section */
.day-breakdown-section {
    height: 90vh;
    background-color: rgb(72, 122, 230);
}

.breakdown-row-header {
    text-align: center;
    height: 15vh;
    border: solid 1px black;
    align-items: center;
}
.breakdown-row {
    height: 25vh;
    border: solid 1px black;
    text-align: center;
}
.break-col,
.break-col-h {
    border: solid 1px black;
    align-items: center;
    height: 100%;
}

/* Bottom carousel section */
.bottom-carousel-section {
    height: 20vh;
    background-color: rgb(34, 199, 103);
}
.bottom-carousel { height: 100%; }
.carousel-col { @extend .flex-center; padding: 0; }
.carousel-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}