/* Style for Hero Overlay Section */

.hero-overlay-section{
    height: 90vh;
    background-color: blue;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.hero-overlay-image{
    height: 20%;
    width: 70%;
    position: absolute;
    bottom: 15vh;
    right: 10vw;
    z-index: 1;
    opacity: 0.7;
    background-color: red;
    border-radius: 10px;
}

/* Style for Calendar Section */

.calendar-section{
    height: 100vh;
    background-color:antiquewhite;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.calendar-week-header-row,
.calendar-days-row {
    display: flex;
    justify-content: space-between;
}

.calendar-week-header,
.calendar-day {
    flex: 1 1 0;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ddd;
    background: #f8f9fa;
}

.calendar-week-header {
    font-weight: bold;
    background: #e9ecef;
    border-bottom: none;
}

.calendar-days-row .calendar-day {
    border-top: none;
    height: 25vh;
}

.calendar-day-highlighted {
    background: #bb45a7;
    color: #fff;
    font-size: 10px;
}

.calendar-day-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* or whatever height you want for your calendar cells */
    text-align: center;
}

.cal-font {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    text-align: center;
}

.cal-icon {
    margin-bottom: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal-font i {
    font-size: 2em;
    color: #bb45a7;
}

.calendar-day-highlighted .cal-font i {
    color: #fff;
}

/* Part 3 top */

.hotel-in-section, .for-poster-section {
    background-color: lightgrey;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}

.hotel-in{
    height: 80vh;
}

.hotel-in > .row-1, .hotel-in > .row-2, .hotel-in > .row-3, .hotel-in > .col-6, .hotel-in > .col-2 {
    border: solid 1px black;
}

.hotel-in > .row-1 {
    height: 30vh;
}

.hotel-in > .row-2 {
    height: 15vh
}

.hotel-in > .row-3 {
    height: 35vh;
}

/* Phulet Section */

.phuket-divider-section {
    height: 20vh;
    background-color: rgb(109, 204, 207);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.phuket-div-image {
    height: 20vh;
    font-size: 64px;
    letter-spacing: 20px;
    text-align: center;
    align-content: center;
}

/* Before Section */

.before-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background: rgb(236, 219, 59);;
    height: 66vh;
}

.before-section-container {
    width: 100%;
    max-width: 100vw;
    padding: 0;
    height: 60vh;
}

.before-pic {
    background: #fffbe6;
    border: 1px solid #ccc;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.before-bangtao {
    background: #ffe066;
    border: 1px solid #ccc;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.before-right-small {
    background: #e0f7fa;
    border: 1px solid #ccc;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.before-right-tall {
    background: #b2ebf2;
    border: 1px solid #ccc;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.before-row-equal {
    display: flex;
    align-items: stretch;
    /* ensures both sides are equal height */
}

.cont-left, .cont-right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cont-left > .row,
.cont-right > .row {
    flex: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* For Section */

.for-poster {
    height: 92vh;
    background-color: rgb(199, 34, 34);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}

/* day breakdown section */

.day-breakdown-section {
    height: 90vh;
    background-color: rgb(72, 122, 230);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}

/* Section 4 bottom */

.breakdown-row-header {
    text-align: center;
    height: 15vh;
    border: solid 1px black;
    align-items: center;
}

.breakdown-row {
    height: 25vh;
    border: solid 1px black;
    text-align: center;
}

.break-col {
    border: solid 1px black;
    align-items: center;
}

.break-col-h {
    border: solid 1px black;
    align-items: center;
}

/* bottom carousel section */

.bottom-carousel-section {
    height: 20vh;
    background-color: rgb(34, 199, 103);
    width: 100vw;
}

.bottom-carousel{
    height: 100%;
}

.carousel-col {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-img {
    width: 100%;
    aspect-ratio: 1 / 1; /* Ensures square images */
    object-fit: cover;
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 2px 8px rgba(0,0,0,0.08); /* Optional: subtle shadow */
    max-width: 100%;
    height: auto;
}