{# wedding_project/core/templates/core/home2.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to Our Wedding!{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
{% endblock extra_css %}

{% block content %}
    <!-- Part 1 hero overlay -->
    <div class="hero-overlay-section">
        <div class="hero-overlay-image"></div>
    </div>

    <!-- Part 2 calendar -->
    <div class="calendar-section">
        <div class="calendar-container">
            <div class="calendar-header">
                <h2 class="text-center">On..</h2>
                <h3 class="text-center">October 2026</h3>
            </div>
            <div class="calendar-body">
                <!-- Week 1 -->
                <div class="calendar-row">
                    <div class="calendar-week-header-row">
                         <div class="calendar-week-header">19</div>
                        <div class="calendar-week-header">20</div>
                        <div class="calendar-week-header">21</div>
                        <div class="calendar-week-header">22</div>
                        <div class="calendar-week-header">23</div>
                        <div class="calendar-week-header">24</div>
                        <div class="calendar-week-header">25</div>
                    </div>
                    <div class="calendar-days-row">
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                    </div>
                </div>
                <!-- Week 2 -->
                <div class="calendar-row">
                    <div class="calendar-week-header-row">
                        <div class="calendar-week-header">26</div>
                        <div class="calendar-week-header">27</div>
                        <div class="calendar-week-header">28</div>
                        <div class="calendar-week-header">29</div>
                        <div class="calendar-week-header">30</div>
                        <div class="calendar-week-header calendar-heart">
                            <span>31</span>
                        </div>
                        <div class="calendar-week-header">01</div>
                    </div>
                    <div class="calendar-days-row">
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day"></div>
                        <div class="calendar-day calendar-day-center">
                            <div class="cal-font">
                                <span class="cal-icon"><i class="fa-solid fa-anchor"></i></span>
                                <span>For<br>a<br>Snorkel</span>
                            </div>
                        </div>
                        <div class="calendar-day calendar-day-highlighted calendar-day-center">
                            <div class="cal-font">
                                <span class="cal-icon"><i class="fa-solid fa-heart"></i></span>
                                <span>For<br>a<br>Wedding</span>
                            </div>
                        </div>
                        <div class="calendar-day calendar-day-center">
                            <div class="cal-font">
                                <span class="cal-icon"><i class="fa-solid fa-martini-glass-citrus"></i></span>
                                <span>For<br>a<br>Drink</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Part 3 Top in / Hotels-->

    <div class="hotel-in-section">
        <h2 class="text-center">in</h2>
        <div class="container-fluid hotel-in">
            <div class="row row-1">
                <div class="col-6">pics of hotel</div>
                <div class="col-2">room details</div>
                <div class="col-2">room details</div>
                <div class="col-2">room details</div>
            </div>
            <div class="row row-2">
                <div class="col-6">Cape panwa dates</div>
                <div class="col-2">pic</div>
                <div class="col-2">pic</div>
                <div class="col-2">pic</div>
            </div>
            <div class="row row-3">
                <div class="col-6">hotel details</div>
                <div class="col-6">other hotel details</div>
            </div>
        </div>
    </div>

    <!-- Phuket Divider -->
    <div class="phuket-divider-section">
        <div class="container-fluid">
            <div class="phuket-div-image">Phuket</div>
        </div>
    </div>

    <!-- Part 3 Bottom before wedding-->
    <div class="before-section">
        <h2 class="text-center">Before</h2>
        <div class="container-fluid before-section-container">
            <div class="row g-0">
                <!-- Left side -->
                <div class="col-6 cont-left">
                    <div class="row">
                        <div class="col-6 before-pic">Pic 1</div>
                        <div class="col-6 before-pic">Pic 2</div>
                    </div>
                    <div class="row">
                        <div class="col-12 before-bangtao">Bang Tao Beach</div>
                    </div>
                    <div class="row">
                        <div class="col-6 before-pic">Pic 3</div>
                        <div class="col-6 before-pic">Pic 4</div>
                    </div>
                </div>
                <!-- Right side -->
                <div class="col-6 cont-right">
                    <div class="row">
                        <div class="col-6 before-right-small">Sunwing Small</div>
                        <div class="col-6 before-right-small">Right Pic Small</div>
                    </div>
                    <div class="row">
                        <div class="col-12 before-right-tall">Info on beach and other hotels</div>
                    </div>
                    <div class="row">
                        <div class="col-6 before-right-small">Arinara</div>
                        <div class="col-6 before-right-small">Pic</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page 4 top For Section-->
     <div class="for-poster-section">
        <h2 class="text-center">For</h2>
        <div class="container-fluid for-poster">
        </div>
    </div>

    <!-- Page 4 bottom day breakdown section-->
     <div class="day-breakdown-section">
        <h2 class="text-center">A</h2>
        <div class="container-fluid day-breakdown">
            <div class="row breakdown-row-header">
                <div class="col-4 break-col-h">A Boat Trip</div>
                <div class="col-4 break-col-h">A Drink</div>
                <div class="col-4 break-col-h">Any Extras</div>
            </div>
            <div class="row breakdown-row">
                <div class="col-4 break-col">Pic</div>
                <div class="col-4 break-col">Pic</div>
                <div class="col-4 break-col">Pic</div>
            </div>
            <div class="row breakdown-row">
                <div class="col-4 break-col">Info</div>
                <div class="col-4 break-col">Info</div>
                <div class="col-4 break-col">Info</div>
        </div>
    </div>

    <!-- Page 4 bottom day carousel section-->
     <div class="bottom-carousel-section">
        <div class="container-fluid bottom-carousel">
            <div class="row breakdown-row-header">
                <div class="col-3 carousel-col">
                    <img src="{% static 'core/img/hero_carousel/left_1.jpg' %}" class="carousel-img" alt="Image 1">
                </div>
                <div class="col-3 carousel-col">
                    <img src="{% static 'core/img/hero_carousel/left_2.jpg' %}" class="carousel-img" alt="Image 2">
                </div>
                <div class="col-3 carousel-col">
                    <img src="{% static 'core/img/hero_carousel/left_3.jpg' %}" class="carousel-img" alt="Image 3">
                </div>
                <div class="col-3 carousel-col">
                    <img src="{% static 'core/img/hero_carousel/left_4.jpg' %}" class="carousel-img" alt="Image 4">
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block extra_js %}
    <script src="{% static 'core/js/hero_carousel.js' %}"></script>
{% endblock extra_js %}