{# articles/templates/articles/articles.html #}
{% extends "base.html" %}

{% block title %}Our Story{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="my-4">Our Story</h1>
    <p class="lead">This page will tell the story of how we met, our journey, and what brought us to this special day!</p>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h4>Chapter 1: The Beginning</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <h4>Chapter 2: The Proposal</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <p class="mt-5">Stay tuned for more updates!</p>
</div>
{% endblock %}